html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    position: relative;
    overflow: auto;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(44,119,80)),
        color-stop(0.51, rgb(71,155,112)),
        color-stop(0.76, rgb(100,186,146))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(44,119,80) 2%,
        rgb(71,155,112) 51%,
        rgb(100,186,146) 76%
    );
    
}

.tonematrix {
    width: 386px;
    height: 346px;
    padding: 30px;
    border-radius: 6px;
    background:-moz-linear-gradient(center top , #444, #222);
    35
    background: -webkit-gradient(linear, center top, center bottom, from(#444), to(#222));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.ui-button {
    width: 40px;
    height: 40px;
}

#status {
    height: 50px; 
    position: absolute;
    top:0;
    right:0;
    width: 200px; 
    font: 13px Helvetica, Arial; 
    opacity: 0.6;
    color: #fff;
}

#status p { 
    background: #222;
    padding: 8px; 
    margin: 0; 
}

#status p:nth-child(odd) { 
    background: #333; 
}
