html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    position: relative;
    overflow: auto;

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.11, rgb(242,158,48)),
    color-stop(0.37, rgb(255,134,20))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(242,158,48) 11%,
    rgb(255,134,20) 37%
);
    
}

.tonematrix {
    width: 386px;
    height: 346px;
    padding: 30px;
    border-radius: 10px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.06, rgb(0,0,0)),
    color-stop(0.58, rgb(47,48,47))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(0,0,0) 6%,
    rgb(47,48,47) 58%
);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.ui-button {
    width: 40px;
    height: 40px;
}

#status {
    height: 50px; 
    position: absolute;
    top:0;
    right:0;
    width: 200px; 
    font: 13px Helvetica, Arial; 
    opacity: 0.6;
    color: #fff;
}

#status p { 
    background: #222;
    padding: 8px; 
    margin: 0; 
}

#status p:nth-child(odd) { 
    background: #333; 
}
